<template name="matchItem">
  <div class="col-md-3">
    <div class="thumbnail">
      <img data-src="holder.js/300x300" class="img-rounded" />
      <div class="caption">
        <h3><a href="{{url}}">{{service}}</a> <small>{{date}}</small></h3>
        <p>Service details will be listed here as the matches form from the search results. You'll see a detailed description of what the the service includes, how much it will cost you, when it's available and any additional options you may have before confirmation. You will also have the option to view more details or select the service below.</p>
        <p><a href="#" class="btn btn-primary" role="button">Details</a> <a href="#" class="btn btn-default" role="button">Select</a></p>
      </div>
    </div>
  </div>
</template>